<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <style>
        .image{width: 50px; height: 50px;}
    </style>
    <link rel="stylesheet" href="/css/search.css">
    <script defer src="/js/searchMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 <div>
   <form id="writeForm" method="post" action="write" enctype="multipart/form-data">
       <div>TITLE : <input type="text" name="title" placeholder="제목을 입력하시오" required></div>
       <div>내용 : <textarea name="ctnt" required></textarea></div>
       <div>지역 : <select name="region" form="writeForm" required>
           <option value="">지역선택</option>
           <option value="1">서울</option>
           <option value="2">부산</option>
           <option value="3">대구</option>
           <option value="4">인천</option>
           <option value="5">광주</option>
           <option value="6">대전</option>
           <option value="7">울산</option>
           <option value="8">세종</option>
           <option value="9">경기</option>
           <option value="10">강원</option>
           <option value="11">충북</option>
           <option value="12">충남</option>
           <option value="13">전북</option>
           <option value="14">전남</option>
           <option value="15">경북</option>
           <option value="16">경남</option>
           <option value="17">제주</option>
       </select></div>
       <div><input id="placeNm" type="text" name="place" required><button type="button" onclick="delClassHide()">주소 검색하기</button></div>
       <div><input id="location_Y" type="hidden" name="location_Y" required></div>
       <div><input id="location_X" type="hidden" name="location_X" required></div>
       <input id="input-multipleIMG" multiple type="file" accept="image/*" name="imgArr">
       <input type="submit" value="게시글 작성">
   </form>
   <div id="multipleContainer"></div>
 </div>

 <div id="map_modal" class="openModal">
     <div class="map_wrap pointer" data-x="" data-y="">
         <div class="modal_close_parent"><i class="modal_close fas fa-times"></i></div>
         <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

         <div id="menu_wrap" class="bg_white">
             <div class="option">
                 <div>
                     <form onsubmit="searchPlaces(); return false;">
                         키워드 : <input type="text" value="" id="keyword" size="15">
                         <button type="submit">검색하기</button>
                     </form>
                 </div>
             </div>
             <hr>
             <ul id="placesList"></ul>
             <div id="pagination"></div>
         </div>
     </div>
 </div>
 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=082cfeea117f1864eeae6afb01ef3f74&libraries=services"></script>
</body>
</html>